{% extends "layout/base.html" %}
{% load static %}

{% block title %}Crypto Scammer{% endblock %}

{% block extra_head %}
<link rel="preload" href="{% static "css/style-main.css" %}" type="text/css" media="screen" as="style" />
<link rel="stylesheet" href="{% static "css/style-main.css" %}" type="text/css" media="screen" />
{% endblock %}


{% block content %}

<div class="container container-large container-main">
    <div class="row m-0">

        <div class="col-lg-9">
            <div class="card shadow-sm border-0">
                <div class="card-body">

                    <!-- Save address -->
                    <div class="card shadow-sm bg-primary-gradient border-0 mb-3 display-mobile">
                        <a href="/addresses" class="d-block card-body note-block position-relative text-light text-decoration-none">
                            <h5>View/Save addresses</h5>

                            <button class="btn btn-light-main btn-sm pull-mid-right">
                                <i class="fas fa-link"></i>
                            </button>
                        </a>
                    </div>

                    <!-- Support -->
                    <div class="card shadow-sm bg-main-gradient border-0 mb-3 display-mobile"
                        data-toggle="modal" data-target="#modal-donate">
                        <div class="card-body note-block position-relative">
                            <h5>Support the platform</h5>

                            <div class="btn btn-light-main btn-sm pull-mid-right">
                                Donate
                            </div>
                        </div>
                    </div>

                    <!-- Request More -->
                    <div class="card shadow-sm bg-primary-gradient border-0 mb-3 display-mobile"
                        data-toggle="modal" data-target="#modal-req">
                        <div class="card-body note-block position-relative">
                            <h5>Request a Review</h5>

                            <button class="btn btn-light-main btn-sm pull-mid-right">
                                <i class="fas fa-link"></i>
                            </button>
                        </div>
                    </div>

                    <!-- Recent -->
                    <div class="mb-4">
                        <h3 class="font-weight-bold">Recent Reviews
                            <a href="/platforms/all" class="btn btn-secondary">All <i class="fas fa-link"></i></a>
                        </h3>
                        <hr>
                        <div id="main-recent" class="scoll-horizontal">
                            <a href="#" class="scroll-element exc-wrapper"
                            data-toggle="modal" data-target="#modal-req">
                                <img class="lazyload exc-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII="
                                    data-src="{% static "img/add.svg" %}" alt="Request">

                                <span class="exc-text">Add More</span>
                            </a>
                        </div>
                    </div>

                    <!-- Exchanges -->
                    <div class="mb-4">
                        <h3 class="font-weight-bold">Top Exchanges
                            <a href="/platforms/exchange" class="btn btn-secondary">All <i class="fas fa-link"></i></a>
                        </h3>
                        <hr>
                        <div id="main-exc" class="scoll-horizontal">
                            <a href="#" class="scroll-element exc-wrapper"
                            data-toggle="modal" data-target="#modal-req">
                                <img class="lazyload exc-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII="
                                    data-src="{% static "img/add.svg" %}" alt="Request">

                                <span class="exc-text">Add More</span>
                            </a>
                        </div>
                    </div>

                    <!-- Coins -->
                    <div class="mb-4">
                        <h3 class="font-weight-bold">Top Coins
                            <a href="/platforms/coin" class="btn btn-secondary">All <i class="fas fa-link"></i></a>
                        </h3>
                        <hr>
                        <div id="main-coin" class="scoll-horizontal">
                            <a href="#" class="scroll-element exc-wrapper"
                            data-toggle="modal" data-target="#modal-req">
                                <img class="lazyload exc-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII="
                                    data-src="{% static "img/add.svg" %}" alt="Request">

                                <span class="exc-text">Add More</span>
                            </a>
                        </div>
                    </div>

                    <!-- Give aways-->
                    <div class="mb-4">
                        <h3 class="font-weight-bold">Top Give aways
                            <a href="/platforms/give_away" class="btn btn-secondary">All <i class="fas fa-link"></i></a>
                        </h3>
                        <hr>
                        <div id="main-ga" class="scoll-horizontal">
                            <a href="#" class="scroll-element exc-wrapper"
                            data-toggle="modal" data-target="#modal-req">
                                <img class="lazyload exc-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII="
                                    data-src="{% static "img/add.svg" %}" alt="Request">

                                <span class="exc-text">Add More</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-3 display-md" style="position: relative;">
            <!-- Save Address -->
            <div class="card shadow-sm bg-primary-gradient border-0 mb-3">
                <a href="/addresses" class="card-body text-light d-block text-decoration-none">
                    <h5>Save Address</h5>
                    <p>Save a coin address for any exchange for quick access while withdrawing.</p>

                    <div class="btn btn-light-main btn-stretch">
                        View Addresses
                    </div>
                </a>
            </div>

            <!-- Support -->
            <div class="card shadow-sm bg-main-gradient border-0 mb-3 cursor-pointer"
                data-toggle="modal" data-target="#modal-donate">
                <div class="card-body text-light">
                    <h5>Support the platform</h5>

                    <div class="btn btn-light-main btn-stretch">
                        Donate
                    </div>
                </div>
            </div>

            <!-- Request More -->
            <div class="card shadow-sm bg-primary-gradient border-0 mb-3 cursor-pointer"
                data-toggle="modal" data-target="#modal-req">

                <div class="card-body text-light">
                    <h5>Request a Review</h5>
                    <p>Let us know what exchanges, coins or platforms you want to be reviewed.</p>

                    <div class="btn btn-light-main btn-stretch">
                        Talk with us
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}


{% block extra_body %}
<!-- Modal -->
<div class="modal fade" id="modal-req" tabindex="-1" aria-labelledby="modalreqLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalreqLabel">Send Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0">
                <form action="#" method="post" id="form-req" novalidate>
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="text-req" class="form-label">Your Request</label>
                        <textarea type="text" id="text-req" class="form-control" name="request" rows="5" maxlength="1000"
                            placeholder="Mention the platform you want to be reviewed" required autofocus></textarea>
                        <div class="invalid-feedback">
                            Type a Request
                        </div>
                    </div>

                    {% if not user.is_authenticated %}
                    <!-- Login -->
                    <div class="card shadow-sm bg-primary-gradient border-0 mt-4 cursor-pointer">
                        <a href="{% url 'users:login' %}" class="card-body note-block text-light d-block text-decoration-none">
                            <h5>Login to make a request</h5>

                            <div class="btn btn-light-main pull-mid-right">
                                Login
                            </div>
                        </a>
                    </div>
                    {% else %}
                    <button type="submit" class="btn btn-primary btn-main btn-stretch" id="btn-send-req">
                        <div class="spinner-border spinner spinner-border-sm text-light" role="status" style="display: none;">
                            <span class="sr-only">Loading...</span>
                        </div>
                        Send Request
                        <i class="fas fa-arrow-right"></i>
                    </button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

<script async src="{% static "js/tkd_script.js" %}"></script>
<script async src="{% static "js/main.js" %}"></script>
{% endblock %}